:root {
    --pwt-panel-background: rgba(255, 255, 255, 0.1);
    --pwt-text-color: #000000;
}

@font-face {
    font-family: 'kairun-font';
    src: url('/pve2/images/fot-yuruka-std.png');
}

* {
    font-family: 'kairun-font';
}

.x-btn-inner-default-toolbar-small,
.x-btn-inner-default-small {
    font-family: 'kairun-font';
}

body {
    background-image: url(/pve2/images/kairunbg.png) !important;
}

.x-legend-container {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-legend-horizontal .x-legend-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-item .x-grid-icon-custom.lxc::after,
.x-grid-item .x-grid-icon-custom.qemu::after {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-item-alt .x-grid-icon-custom.lxc::after,
.x-grid-item-alt .x-grid-icon-custom.qemu::after {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-btn-default-toolbar-small {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-btn-default-toolbar-small.x-btn-over,
.x-keyboard-mode .x-btn-default-toolbar-small.x-btn-focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-btn-default-toolbar-small.x-btn.x-btn-disabled {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-item,
.x-column-header-default,
.x-grid-cell-row-numberer {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-group-hd {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-header-ct {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-item-alt {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-with-row-lines .x-grid-item.x-grid-item-over,
.x-grid-with-row-lines .x-grid-item.x-grid-item-selected {
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-grid-item-over,
.x-grid-item-selected {
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-panel-body-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-tab-bar-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-toolbar {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-toolbar-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-treelist-row-over {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-treelist-pve-nav {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
    border-color: #666
}

.x-window-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-window-header-default {
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-window-header-default .x-mask {
    background-color: rgba(255, 255, 255, 0.514);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}


.x-window-body-default {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-viewport>.x-body {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

body.x-border-layout-ct,
div.x-border-layout-ct {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}

.x-mask {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: rgba(255, 255, 255, 0.2);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    line-height: normal;
}